* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --back1: #212121;
  --back2: #474545;
}
body {
  background-color: #212121;
  padding: 2px;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 25px;
}

*::selection {
  background-color: #4400fd;
  color: white;
}

.main {
  max-width: 1440px;
  width: fit-content;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

.center {
  width: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;

  display: flex;
  align-items: center;
}

.centerText {
  text-align: center;
}

.title {
  font-size: 14px;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.border {
  border: 1px solid var(--back2);
  border-radius: 20px;
}

/* INPUT */

input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);

  border-radius: 10px;
  padding: 5px 8px;
  height: 35px;
  width: 100px;

  outline: none;
}

select {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);

  border-radius: 10px;
  padding: 5px 8px;
  height: 35px;
  width: 100px;

  outline: none;
}

.opt {
  background-color: var(--back1);
  border: 1px solid rgba(255, 255, 255, 0.4);

  border-radius: 10px;
  padding: 5px 8px;
  height: 35px;
  width: 100px;

  outline: none;
}

.desc {
  width: 150px;
}

.mini {
  width: 50px;
  margin: 0 5px;
}

.middle {
  width: 80px;
}

input:disabled {
  background-color: var(--back2);
}

input:focus {
  border: 1px solid white;
}

/* BUTTON */

button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 10px;
  padding: 10px 15px;
  outline: none;

  cursor: pointer;
  height: 35px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.middleBig {
  width: 110px;
  margin: 5px;
}

.bigButton {
  width: 100%;
  margin: 10px auto;
}

/* Withdrawals and MonthlyResults common styles */
.results {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-color: var(--back2);
}

.results h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  margin-bottom: 5px;
}
